.navbar{
    background-color: #A03037!important;
   
  }
  .text1{
    color: white!important;
    margin-top: 15px;
    margin-left: -10px;
  }

  .keep_image{
    height: 30px;
    width: 37px;
    padding:15px; 
   
}

.first_div{
    margin-left: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .body{
    height: 310px;
    width: 400px;
    background-color: white;
    margin-top: 0px;
    border: 1px solid rgb(178, 175, 175);
    flex-direction: column;

  }

  .forgot_message{
    margin-top: 100px;
    font-size: 26px;
    font-weight: 500;
  }

  .form_field{
  margin-left: 55px;
  }

  .form_fields1{
    display: flex;
    height: 30px;
    width: 280px;
  }

  .fgtpsd_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A03037;
    height: 32px;
    width: 285px;
    margin-top: 20px;
    border-radius: 2px;
    color: white !important;
  }

  .bottom_btn{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .acnt_btn{
   height: 85px;
   width:400px;
   background-color:#F9F9F8;
   margin-top: 33px;
   font-weight: 500;
   margin-left: 0px;

  }