<div class="container">
  <mat-toolbar>
      <mat-toolbar-row class="navbar">
          <div class="first_div">
              <img class="keep_image" src="../../assets/images/education.svg">
              <p class="text1">Bookstore</p>
          </div>
      </mat-toolbar-row>
  </mat-toolbar>
  <form [formGroup]="ForgotpasswordForm" (ngSubmit)="OnForgotPassword()">
      <div class="forgot_message">
          <p>Forgot Your Password?</p>
      </div>
      <div class="body">
          <div>
              <p style="color: lightgray; font-weight: 500; margin-top:35px; margin-left: 55px;">Enter your email address and we'll send you</p><br>
              <p style="color: lightgray; font-weight: 500; margin-top:-35px; margin-left: 55px;">a link to reset your password</p>
          </div>
          <div class="form_field">
              <label>Email Id</label>
              <div>
                  <input class="form_fields1" type="text" matInput formControlName="email">
                  <button class="fgtpsd_btn" mat-button>Reset Password</button>
              </div>
          </div>
          <div class="bottom_btn">
              <button routerLink="/signup" class="acnt_btn" mat-button><p style="font-weight: 500;">CREATE ACCOUNT</p></button>
          </div>
      </div>
  </form>
</div>
