.container{
    height: 100%;
    width: 100%;
    
}

.head{
    display: flex;
    margin-top: 17px;
    gap:460px;
}
.title{
    display: flex;
    gap: 5px;
    width: 200px;
    align-items: center;
     margin-left: 150px;
    margin-top: 5px;
}

.home_button{
    color: rgb(168, 161, 161);
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.cart_part{
    height: auto;
    width: 775px;
    // background-color: orange;
     margin-left: 150px;
    // border: 1px solid rgb(171, 162, 162);
    
    
   
}
.cart_header{
display: flex;
}

.location_div{
    height: 30px;
    width: 250px;
    // background-color: aqua;
    margin-top: 15px;
   margin-left: 405px;
   border: 1px solid rgb(181, 177, 177);
}

.loc_button{
    border: none;
    background-color: transparent;
    height: 30px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.image_sec{
height: 100px;
width: 75px;
// background-color: aqua;
margin-left: 25px;
margin-top: 10px;
align-items: center;

}

.image{
height: 90px;
width: 70px;
}

.s2{
    width: 70%;
     background-color: transparent;
     margin-left: 20px;
     
     
 }
 
 .title_sec{
     font-weight: 500;
     margin-top: 15px;
     margin-left: 15px;
 }
 
 .author_sec{
     color: rgb(182, 179, 179) !important;
     margin-top: -10px;
     margin-left: 15px;
 }
 
 .price{
     font-weight: 600;
     margin-top: -10px;
     margin-left: 15px;
    
 }
 
 .price_sec{
     display: flex;
     flex-direction: row;
 }
 
 .originalprice{
     color: rgb(172, 168, 168);
    margin-top: -10px;
    margin-left: 7px;
   
 }

 .img_cost_sec{
    height: auto;
    width: 300px;
    // background-color: aqua;
    display: flex;
    margin-bottom: 30px;
 }

 .quantity_sec{
    display: flex;
    width: 35px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(195, 188, 188);
    margin-top: 12px;
 }
 .quantity{
    display: flex;
 }

    
 .order_btn{
    display: flex;
    color: white !important;
    background-color: #3371B5;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 495px;
    margin-top: -3px;
    cursor: pointer;
 }

 .address-details-card {
    width: 775px;
    display: flex;
    padding-top: 12px;
    padding-left: 35px;
    margin-left: 150px;
}

.address-details-card h4 {
    font-size: 15px;
    
}


#mat-accordion {
    margin-top: 40px;
}

mat-accordion {
    width: 775px;
}

mat-expansion-panel-header button {
    border: solid 1px crimson;
    height: 27px;
    width: 140px;
    font-size: 11px;
    letter-spacing: .5px;
    color: crimson;
}

mat-expansion-panel {
    width: 755px;
    margin-top: 40px;
    padding: 0px 9px;
    margin-left: 150px;
}

.m1 {
    margin-top: 40px;
}

#checkout-btn {
    margin-top: -10px;
    margin-left: 540px;
}

.cart-content-left-content-div {
    display: flex;
    height: 40%;
   
    gap: 30px;
}

.cart-content-left-content-div img {
    height: 85px;
    width: 70px;
}

.cart-content-left-content-div-description {
    display: flex;
    flex-direction: column;
    margin-top: -8px;
}

.cart-content-left-content-div-description h1 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

.cart-content-left-content-div-description p {
    font-size: 13px;
    font-weight: 500;
    color: gray;
    margin-top: -13px;
}

.cart-price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -4px;
}

.cart-price h1 {
    font-size: 16px;
    margin-top: -7px;
}

.placeorder-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 88px;
}

.placeorder-btn button {
    height: 30px;
    width: 130px;
    background-color: #3371B5;
    color: white;
    font-size: 12px;
    letter-spacing: .5px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
